NET "clk"LOC = AC18 | IOSTANDARD = LVCMOS18;

NET "SW[0]"LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[1]"LOC = AB10 | IOSTANDARD = LVCMOS15;

NET "BTN_X"LOC = W16 | IOSTANDARD = LVCMOS18;
NET "BTN_Y"LOC = V18 | IOSTANDARD = LVCMOS18;
NET "reset"LOC = V19 | IOSTANDARD = LVCMOS18;

NET "SEGMENT[0]"LOC = AB22 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[1]"LOC = AD24 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[2]"LOC = AD23 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[3]"LOC = Y21 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[4]"LOC = W20 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[5]"LOC = AC24 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[6]"LOC = AC23 | IOSTANDARD = LVCMOS33;
NET "SEGMENT[7]"LOC = AA22 | IOSTANDARD = LVCMOS33;

NET "AN[0]"LOC = AC22  | IOSTANDARD = LVCMOS33;
NET "AN[1]"LOC = AB21  | IOSTANDARD = LVCMOS33;
NET "AN[2]"LOC = AC21  | IOSTANDARD = LVCMOS33;
NET "AN[3]"LOC = AD21 | IOSTANDARD = LVCMOS33;

NET "b[0]"LOC = T20 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "b[1]"LOC = R20 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "b[2]"LOC = T22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "b[3]"LOC = T23 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "g[0]"LOC = R22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "g[1]"LOC = R23 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "g[2]"LOC = T24 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "g[3]"LOC = T25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "r[0]"LOC = N21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "r[1]"LOC = N22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "r[2]"LOC = R21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "r[3]"LOC = P21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "hs"LOC = M22 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vs"LOC = M21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;